<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cách Pha Chế</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('../z_layout/navigation.ejs') %>
    <div class="container">
        <h2 class="text-center">Cách Pha Chế</h2>
        <h3 class="text-center"><%- test[0].pro_name %></h3>

        <div class="form-floating">
            <textarea readonly style="height: 200px;" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"><%= test[0].b_description %></textarea>
            <label for="floatingTextarea2">Hướng dẫn</label>
        </div>

        <table class="table table-hover">
            <thead class="table-dark">
                <td>STT</td>
                <td>Tên nguyên liệu</td>
                <td>Lượng</td>
            </thead>

            <% if(test.length > 0){ %>
                <% for( var i = 0; i < test.length; i++){ %>
                    <tr>
                        <td><%= (i+1) %></td>
                        <td><%= test[i].ing_name %></td>
                        <td>
                            <%= test[i].bd_amount %>
                            <%= test[i].unit_name %>
                        </td>
                    </tr>
                <% } %>
            <% } else { %>
                <p>Không có nguyên liệu</p>
            <% } %>
        </table>
        <a class="btn btn-primary" style="width:100%" href="/chichsuacachphache?pro_b_id=<%- test[0].pro_b_id %>">CHỈNH SỬA</a>
    </div>
</body>
</html>