<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiết đơn nhập</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="/js/input_validate.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

    <% if(session.u_d_id == 1){ %>
        <%- include('../z_layout/navigation') %>
    <% }else if(session.u_d_id == 2 ){ %>
        <%- include('../z_layout/nav_2') %>
    <% }else if(session.u_d_id == 3 ){ %>
        <%- include('../z_layout/nav_3') %>
    <% } %>

    <div class="container">
        <h2 class="text-center">Công thức pha chế</h2>
        
        <% if(test1.length > 0){ %>
        <h3 class="text-center"><%- test1[0].b_name %></h3>
        <br>

        <!-- <input  name="b_description" type="text" value="<%- test1[0].b_description %>"> -->

      

        <form class="form-control bg-light" action="/suacachphache" method="post">
            <input hidden name="b_id"  type="text" value="<%- test1[0].pro_b_id %>">
            
            <div class="form-floating">
                <textarea name="b_description" style="height: 200px;" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px">
                    <%= test1[0].b_description %>
                </textarea>
                <label for="floatingTextarea2">Hướng dẫn</label>
            </div>
            
             

            <br>
            <% for(var i=0; i < test2.length; i++){  %>
                <div class="row g-2">
                    <div class="col-md-1">
                        <div class="form-floating">
                            <input readonly type="text" name="ing_number" class="form-control" id="floatingInputGrid" placeholder="" value="<%= (i+1) %>">
                            <label for="floatingInputGrid"></label>
                        </div>
                    </div>

                    <div class="col-md">
                        <div class="form-floating">
                            <input hidden name="ing_id" type="text" value="<%- test2[i].ing_id %>">
                            <input readonly type="text" name="ing_name" class="form-control" id="floatingInputGrid" placeholder="" value="<%= test2[i].ing_name %>">
                            <label for="floatingInputGrid">Nguyên Liệu</label>
                        </div>
                    </div>

                    <div class="col-md">
                        <div class="form-floating">
                            <input readonly type="text" name="bd_amount" class="form-control" id="floatingInputGrid" value="<%= test2[i].bd_amount %> ">
                            <input type="text" name="ing_amount" hidden value="<%- test2[i].ing_amount %>">
                            <label for="floatingInputGrid">Số lượng ( <%- test2[i].unit_name %> )</label>
                        </div>
                    </div>

                    <div class="col-md-1">
                        <div class="form-floating">
                            <input type="text" hidden value="<%- test2[i].bd_id %>">
                            <a name="buttonDelete" style="height: 58px; margin-top: 6px;" class="btn btn-danger" href="/xoachitietphache?bd_id=<%- test2[i].bd_id %>&pro_b_id=<%- test1[0].pro_b_id %>">XÓA</a>
                        </div>
                    </div>

                   
                </div>
            <% } %>
        
            <br>
            <input name="buttonSave" type="submit" value="LƯU" class="btn btn-outline-danger" style="width: 100%;">
        
        </form>
          
        <%  } else { %>
            <p>Không có nguyên liệu</p>
        <% } %>

        <a name="buttonAdd" class="btn btn-outline-primary" style="width:100%" href="#divUD">THÊM NGUYÊN LIỆU</a>
        

        
        <!-- POPUP THÊM NGUYÊN LIỆU -->
        
        <div class="UD_overplay" id="divUD">

            <div class="UD_wrapper">
                <h2 class="text-center">Chọn thêm nguyên liệu</h2>
                <a href="#" class="close">&times;</a>
                <div class="content">
                    <div class="container">
                        <form action="/themchitietphache" method="POST" onsubmit="return validate_sua_cachphache();">
                            <input name="bd_b_id" hidden type="text" value="<%- test1[0].pro_b_id %>">
                            <label for="">Tên nguyên liệu</label>
                            <select name="bd_ing_id" id="" class="form-select">
                                <% if(ing.length > 0){ %>
                                    <% for( var j = 0; j < ing.length; j++){ %>
                                        <option name="bd_ing_id" value="<%- ing[j].ing_id %>"> <%- ing[j].ing_name %> ( <%= ing[j].unit_name %> )</option>
                                    <% } %>
                                <% } else { %>
                                    <p>Data Not Found</p>
                                <% } %>
                            </select>
                            
                            <br>
                            <label for="">Số lượng</label>
                            <input id="bd_amount" name="bd_amount" type="text" placeholder="" value="">
                            <label id="lbl_bd_amount" class="lbl_validate" for="">XIN ĐƯỜNG BỎ TRỐNG !</label>
                            
                            <input hidden name="ib_costpu" type="text" value="">
                            <input type="submit" value="Submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% include('../z_layout/footer.ejs') %>
</body>
</html>