<div class="container">
  <!-- <form
        action="/themnhanvien"
        method="post"
        style="padding-top: 10px"
        onsubmit="return validate_ds_nhanvien();"
      >
        <div class="row g-3">
          <div class="col-sm">
            <input
              id="u_name"
              name="u_name"
              type="text"
              class="form-control"
              value=""
              placeholder="Tên nhân viên..."
            />
            <label id="lbl_u_name" class="lbl_validate" name="lbl_u_name"
              >KHÔNG ĐƯỢC BỎ TRỐNG !</label
            >
          </div>
          <div class="col-sm">
            <input
              id="u_username"
              name="u_username"
              type="text"
              class="form-control"
              placeholder="Username..."
            />
            <label
              id="lbl_u_username"
              class="lbl_validate"
              name="lbl_u_username"
              >KHÔNG ĐƯỢC BỎ TRỐNG !</label
            >
          </div>
          <div class="col-sm">
            <input
              id="u_password"
              name="u_password"
              type="text"
              class="form-control"
              placeholder="Password..."
            />
            <label
              id="lbl_u_password"
              class="lbl_validate"
              name="lbl_u_password"
              >KHÔNG ĐƯỢC BỎ TRỐNG !</label
            >
          </div>

          <div class="col-sm">
            <input
              id="u_phone"
              name="u_phone"
              type="text"
              class="form-control"
              placeholder="Số điện thoại..."
            />
            <label id="lbl_u_phone" class="lbl_validate" name="lbl_u_phone"
              >KHÔNG ĐƯỢC BỎ TRỐNG !</label
            >
          </div>

          <div class="row">
            <div class="col-sm">
              <input
                id="u_address"
                name="u_address"
                type="text"
                class="form-control"
                placeholder="Địa chỉ..."
              />
              <label
                id="lbl_u_address"
                class="lbl_validate"
                name="lbl_u_address"
                >KHÔNG ĐƯỢC BỎ TRỐNG !</label
              >
            </div>
          </div>

          <div class="row">
            <div class="col-sm">
              <label for="">Chức vụ</label>
              <select
                class="form-control"
                name="u_d_id"
                id="u_d_id"
                style="width: 100%"
              ></select>
            </div>
          </div>
        </div>

        <br />

        <div class="d-grid gap-2">
          <button class="btn btn btn-danger" type="submit">THÊM</button>
        </div>
      </form> -->

  <hr />
  <br />
  <h3 class="text-center">Danh Sách Nhân Viên</h3>
  <table class="table table-hover">
    <thead class="table-light">
      <td>ID</td>
      <td>Tên</td>
      <td>Chức vụ</td>
      <td colspan="3">Thao tác</td>
    </thead>

    <% if(u.length > 0){ %> <% for(var i = 0; i < u.length; i++){ %>
    <tr>
      <td><%- u[i].id %></td>

      <td><%- u[i].firstName %></td>

      <td><%- u[i].rolename %></td>

      <td>
        <div class="UD_overplay" id="divW<%- u[i].u_id %>">
          <div class="nv_wrapper">
            <h2 class="text-center">Cấp ví nhân viên</h2>
            <a href="#" class="close">&times;</a>
            <div class="content">
              <div class="container">
                <form action="/themvi" method="POST">
                  <input
                    name="u_id"
                    type="text"
                    hidden
                    placeholder=""
                    value="<%- u[i].u_id %>"
                  />
                  <div class="row">
                    <div class="col">
                      <label for="">Tên nhân viên</label>
                      <input
                        name="u_name"
                        type="text"
                        placeholder=""
                        value="<%- u[i].u_name %>"
                      />
                    </div>

                    <div class="col">
                      <label for="">Số điện thoại</label>
                      <input
                        name="u_phone"
                        type="text"
                        placeholder=""
                        value="<%- u[i].u_phone %>"
                      />
                    </div>
                  </div>

                  <br />
                  <input
                    type="submit"
                    value="XÁC NHẬN"
                    style="width: 100%; background-color: red"
                  />
                </form>
              </div>
            </div>
          </div>
        </div>
      </td>

      <td>
        <% if(u[i].email){ %>
        <a href="#divUD<%- u[i].u_id %>">
          <button class="btn btn-warning">SỬA</button>
        </a>
        <% } %>
        <div class="UD_overplay" id="divUD<%- u[i].u_id %>">
          <div class="nv_wrapper">
            <h2 class="text-center">Chỉnh sửa thông tin nhân viên</h2>
            <a href="#" class="close">&times;</a>
            <div class="content">
              <div class="nv_container">
                <form class="" action="/suanhanvien" method="POST">
                  <input
                    name="u_id"
                    type="text"
                    hidden
                    placeholder=""
                    value="<%- u[i].u_id %>"
                  />

                  <div class="row">
                    <div class="col">
                      <label for="">Tên nhân viên</label>
                      <input
                        name="u_name"
                        type="text"
                        placeholder=""
                        value="<%- u[i].firstName %>"
                      />
                    </div>

                    <div class="col">
                      <label for="">Số điện thoại</label>
                      <input
                        name="phonenumber"
                        type="text"
                        placeholder=""
                        value="<%- u[i].phonenumber %>"
                      />
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12">
                      <label for="">Địa chỉ</label>
                      <input
                        name="address"
                        type="text"
                        placeholder=""
                        value="<%- u[i].address %>"
                      />
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12">
                      <label for="">Chức vụ</label>
                      <select
                        class="form-control"
                        name="u_d_id"
                        id="u_d_id"
                        style="width: 100%"
                      >
                        <option value="<%- u[i].d_id %>">
                          <%- u[i].rolename %>
                        </option>
                      </select>
                    </div>
                  </div>

                  <br />
                  <input
                    type="submit"
                    value="XÁC NHẬN"
                    style="width: 100%; background-color: red"
                  />
                </form>
              </div>
            </div>
          </div>
        </div>
      </td>

      <td>
        <% if(u[i].rolecode != 'super-admin'){ %>
        <a class="btn btn-danger" href="#divDel<%- u[i].u_id %>">XÓA</a>
        <% } %>
        <div class="overplay" id="divDel<%- u[i].u_id %>">
          <div class="wrapper">
            <h2 class="text-center">Xác Nhận Xóa</h2>
            <a href="#" class="close">&times;</a>
            <div class="content">
              <div class="container">
                <form action="/xoanhanvien" method="POST">
                  <input
                    name="u_id"
                    type="text"
                    hidden
                    placeholder=""
                    value="<%- u[i].u_id %>"
                  />

                  <label name="title">Tên Nhân Viên</label>
                  <input
                    name="firstName"
                    type="text"
                    placeholder=""
                    value="<%- u[i].firstName %>"
                  />

                  <button
                    class="btn btn-danger"
                    style="width: 100%"
                    type="submit"
                  >
                    Xóa
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <% } %> <% } else { %>
    <p>Không có nhân viên</p>
    <% } %>
  </table>
</div>
