<style>
    a {
        text-decoration: none;
    }

    .image {
        position: relative;
        height: 150px;
        width: 150px;
        left: 20px;
        margin-top:  20px;
        transition: 1s;
        background-color: white;
        border-radius: 20px;
        border-width: 4px;
        border-color: black;
        z-index: 1;
    }

    .image:hover {
        transform: scale(1.05);
        z-index: 2;
    }     
    
    .soban{
        margin: 10px 45%;
        z-index: 5;
        font-size: 50px;
        color: #FFFF;
    }






    



body{
font-family: montserrat;
background: #e7e7e7e7;
height: 100vh;
}

.box{
text-align: center;
}

.buttonn{
font-size: 1em;
padding: 15px 35px;
color: #fff;
text-decoration: none;
cursor: pointer;
transition: all 0.3s ease-out;
background: #403e3d;
border-radius: 50px;
}

.overplay{
position:fixed;
top: 0;
bottom: 0; 
left: 0;
right: 0;
background:  rgba(0, 0, 0, 0.8);
transition: opacity 500ms;
visibility: hidden;
opacity: 0;
z-index: 5000;
}

.overplay:target{
visibility: visible;
opacity: 1;
}

.UD_overplay{
position:fixed;
top: 0;
bottom: 0; 
left: 0;
right: 0;
background:  rgba(0, 0, 0, 0.8);
transition: opacity 500ms;
visibility: hidden;
opacity: 0;
}

.UD_overplay:target{
visibility: visible;
opacity: 1;
}


.wrapperTK{
margin: 10px auto;
padding: 20px;
background: #e7e7e7e7;
border-radius: 5px;
width: 30%;
position: relative;
transition: all 5s ease-in-out;
}

.wrapperTK h2{
margin-top: 0;
color: #333;
}

.wrapperTK .close{
position: absolute;
top: 20px;
right: 30px;
transition: all 200ms;
font-weight: bold;
text-decoration: none;
color: #333;
}

.wrapperTK .content{
max-height: 30%;
overflow: auto;
}

.UD_wrapper{
margin: 70px auto;
padding: 20px;
background: #e7e7e7e7;
border-radius: 5px;
width: 50%;
position: relative;
transition: all 5s ease-in-out;
}

.UD_wrapper h2{
margin-top: 0;
color: #333;
}

.UD_wrapper .close{
position: absolute;
top: 20px;
right: 30px;
transition: all 200ms;
font-weight: bold;
text-decoration: none;
color: #333;
}

.UD_wrapper .content{
max-height: 30%;
overflow: auto;
}




.container{
border-radius: 5px;
background-color: #e7e7e7e7;
padding: 20px 0;
}

form label{
text-transform: uppercase;
font-weight: 500;
letter-spacing: 3px;
}

input[type=text], textarea{
width: 100%;
padding: 12px;
border:  1px solid #ccc;
border-radius:  5px;
box-sizing: border-box;
margin-top: 6px;
margin-bottom: 16px;
resize: vertical;
}

input[type="submit"]{
background-color: #413b3b;
color: #fff;
padding: 15px 50px;
border: none;
border-radius: 50px;
cursor: pointer;
font-size: 15px;
text-transform: uppercase;
letter-spacing: 3px;
}

@media screen and (max-width: 800px){
    .containerr{
        width: 100%;
        padding: 0px;
    }
    
    .containerr ul li{
        float: none;
        width: 90%;
        margin: 40px auto;
    }

    .overplay {
        flex-direction: column;
    }

    .wrapper {
        width: 80%;
    }

    .wrapperTK {
        width: 55%;
    }
}
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a 
            class="navbar-brand" 
            data-bs-toggle="collapse" 
            data-bs-target="#navbarSupportedContent" 
            href="">
                5Tan, Hi  <%= session.u_name %>
        </a>
        <button 
            class="navbar-toggler" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="/ban" class="nav-link active" aria-current="page" >Bàn</a>
                </li>
                <li class="nav-item">
                    <a href="/lich" class="nav-link active" aria-current="page" >Lịch</a>
                </li>
                <!-- <li class="nav-item">
                    <a href="/danh-sach-cho-pha-che" class="nav-link" >Pha Chế</a>
                </li> -->
                <!-- <li>
                    <a class="nav-link" href="/donnhap">Đơn Nhập</a>
                </li> -->
                <!-- <li>
                    <a class="nav-link" href="/nguyenlieu">Nguyên Liệu</a>
                </li> -->

                <!-- <li>
                    <a class="nav-link" href="/thongke">Thống Kê</a>
                </li> -->

                <li>
                    <a class="nav-link" href="/messages">Tin Nhắn</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Thêm
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#divOne">Chấm công</a></li>
                    <li><a class="dropdown-item" href="/vi?w_u_id=<%= session.u_id %>">Ví</a></li>
                    <!-- <li><a class="dropdown-item" href="/ds_donrut">Đơn Rút</a></li> -->
                    <!-- <li><a class="dropdown-item" href="/sanpham">Sản Phẩm</a></li> -->
                    <li><a class="dropdown-item" href="/phiphatsinh">Phí Phát Sinh</a></li>
                    <li><a class="dropdown-item" href="/dangnhap">Đăng nhập</a></li>
                    <li><a class="dropdown-item" href="/dangxuat">Đăng xuất</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Cài đặt</a></li>
                    </ul>
                </li>
            </ul>
            <!-- <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
      </div>
    </div>
</nav>



<div class="overplay" id="divOne">
    <div class="wrapperTK">
        <h2 class="text-center">TimeKeeping</h2>
        <a href="#" class="close">&times;</a>
        <div class="content">
            <div class="container">
                <form action="/chamcong" method="POST">
                    <label for="">Nhân viên</label>
                    <input hidden type="text" value="<%- session.u_id %>" name="tk_u_id">
                    <input readonly type="text" value="<%- session.u_name %>" name="">
                    
                    <label for="">Ghi chú</label>
                    <input type="text" placeholder="Nhập ghi chú..." name="tk_note">

                    <% var currentdate = new Date(); %>
                    <% var datetime = currentdate.getFullYear() + "-" + (currentdate.getMonth()+1) + "-" + currentdate.getDate()  + "  "  + currentdate.getHours() + ":"   + currentdate.getMinutes() + ":"  + currentdate.getSeconds(); %>
    
                    <label for="">Ngày chấm công</label>
                    <input type="text" name="tk_date" value="<%= datetime %>" readonly>
                    <% var s_id = 0; %>
                    <%  if((currentdate.getHours() >= 8) && (currentdate.getHours() < 12) ) 
                            { s_id = 1; }
                        else if((currentdate.getHours() >= 12) && (currentdate.getHours() < 17))
                            { s_id = 2; }
                        else if((currentdate.getHours() >= 17) && (currentdate.getHours() < 22))
                            { s_id = 3; }
                    %>

                    <div class="row g-3">
                        <div class="col-sm">
                            <label for="">Ca</label>
                            <input type="text" class="form-control" value="<%- s_id %>" name="tk_s_id">        
                        </div>
                    

                        <div class="col-sm">
                            <label for="">Chi Nhánh</label>
                            <!-- <select class="form-control" name="br_id" id="">
                                <option name="br_id" value="<%- session.br_id %>"> 
                                    <%- session.br_name %>
                                </option>
                            </select>   -->
                            <input type="text" name="br_id" value="1"/>
                        </div>
                    </div>

                    <label for="">ID LỊCH</label>
                    <input type="text" name="cd_id"  value="<%= session.cd_id %>"/>
                    <input type="text" hidden name="cd_shift_id"  value="<%= session.cd_shift_id %>"/>
                    <input type="text" hidden name="hours"  value="<%= session.hours %>"/>

                    <br>
                    <label for="">Thống Kê</label>
                    <select class="form-control" name="s_id" id="">
                        <option name="s_id" value="<%- session.s_id %>"> 
                            <%- session.s_name %>
                        </option>
                    </select>                    
                    <br>
                    <% if(session.cd_id == 'KHÔNG CÓ LỊCH LÀM'){ %>
                        <input type="submit" disabled class="btn btn-outline-danger" value="Submit" style="width: 100%;">
                    <% } else { %>    
                        <input type="submit" class="btn btn-outline-danger" value="Submit" style="width: 100%;">
                    <% } %>
                </form>
            </div>
        </div>
    </div>
</div>