<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách thống kê</title>
    <link rel="icon" href="/assets/images/cheems.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="/js/input_validate.js"></script>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>

    <% if(session.u_d_id == 1){ %>
        <%- include('../z_layout/nav') %>
    <% }else if(session.u_d_id == 2 ){ %>
        <%- include('../z_layout/nav_2') %>
    <% }else if(session.u_d_id == 3 ){ %>
        <%- include('../z_layout/nav_3') %>
    <% } %>

    <br>
    <h4 class="text-center">Danh Sách Thống Kê</h4>

    <script>
        const nav = document.querySelector('.nav');
        const toggle_menu = document.querySelector('.toggle_menu');
        const content = document.querySelector('.content');
    
        toggle_menu.onclick = function () {
            nav.classList.toggle('hide');
            // nav.classList.toggle('expand');
            //content.classList.toggle('expand');
        }

        function handledatechange(){
                var date_picker = document.getElementById("db").value;

                // alert("Date" + date_picker);
        }
    </script>
    

    <div class="container" id="container">

        <form action="/thongketheongay" method="POST" class="form-control">
            
            <h3 class="text-center">Liệt kê theo ngày</h3>
            
            <input name="date_begin" id="db" onchange="handledatechange()" type="date" class="form-control">

            <input name="date_end" id="de" onchange="handledatechange()" type="date" class="form-control">

            <input type="submit" style="width: 100%" class="btn btn-danger">
        </form>

        <hr>
        <a href="#divCreateThongKe" style="width: 100%" class="btn btn-danger">Tạo thống kê mới</a>

        <div class="overplay" id="divCreateThongKe">
            <div class="wrapper">
                <h2 class="text-center">Tạo Thống Kê</h2>
                <a href="#" class="close">&times;</a>
                <div class="content">
                    <div class="container">
                        <form action="/taothongke" method="POST" onsubmit="return validate_ds_thongke();">
                            <label for="">Tên Thống Kê</label>
                            <input hidden type="text" value="<%- session.u_id %>" name="tk_u_id">
                            <input type="text" value="" name="s_name" id="s_name" placeholder="Nhập tên thống kê">
                            <label id="lblsname" style="color: red; visibility: hidden;">KHÔNG ĐƯỢC BỎ TRỐNG !</label>
                            
                            <% var currentdate = new Date(); %>
                            <% var datetime = currentdate.getFullYear() + "-" + (currentdate.getMonth()+1) + "-" + currentdate.getDate()  + "  "  + currentdate.getHours() + ":"   + currentdate.getMinutes() + ":"  + currentdate.getSeconds(); %>
                            <br>
                            <label for="">Ngày thống kê</label>
                            <input type="text" name="s_date" value="<%= datetime %>" readonly>
        
                            <input type="submit" class="btn btn-outline-danger" value="Tạo" style="width: 100%;">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <table class="tableThongKe">
            <thead class="table-light">
                <!-- <td>Tên TK</td> -->
                <td>Nhập</td>
                <td>Xuất</td>
                <td>Lợi nhuận</td>
                <td>Ngày</td>
                <!-- <td>Chi Tiết</td> -->
            </thead>

            <% if(test.length > 0){ %>
                <% for(var i = 0; i < test.length; i++){ %>
                    <tr>
                        <!-- <td>
                            <%- test[i].s_name %>
                        </td> -->

                        <td>
                            <%- Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(test[i].s_import) %>
                        </td>

                        <td>
                            <%- Intl.NumberFormat('vi-VN', {style: 'currency', currency: 'VND'}).format(test[i].s_export) %>
                        </td>

                        <td>
                            <%- Intl.NumberFormat('vi-VN', {style: 'currency', currency: 'VND'}).format(test[i].s_profit) %>
                        </td>

                        <td>
                            <%- Intl.DateTimeFormat("vi-VN", {dateStyle: "short"}).format( test[i].s_date ) %>
                        </td>

                        <td>
                            <a name="buttonDetail" class="btn btn-primary" href="/chitietthongke?s_id=<%- test[i].s_id %>">Chi Tiết</a>
                        </td>
                    </tr>
                <% } %>
            <% } else { %>
                <p>Không có dữ liệu</p>
            <% } %>
        </table>
    </div>

    <script>
        // Hàm kiểm tra và thêm class
function checkResponsive() {
    // Lấy thẻ div có class="divt"
    var divElement = document.querySelector('.tableThongKe');
    
    // Kiểm tra nếu thẻ tồn tại
    if (divElement) {
        // Kiểm tra chiều rộng cửa sổ
        if (window.innerWidth <= 867) {
            // Thêm class 'responsive' nếu màn hình <= 867px
            divElement.classList.remove('table');
        } else {
            // Xóa class 'responsive' nếu màn hình > 867px
            divElement.classList.add('table');
        }
    }
}

// Gọi hàm ngay khi trang được tải
window.addEventListener('load', checkResponsive);

// Gọi hàm mỗi khi kích thước cửa sổ thay đổi
window.addEventListener('resize', checkResponsive);
    </script>
</body>
</html>