<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách thống kê</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>


    <br>
    <h4 class="text-center">Danh Sách Thống Kê </h4>
    <h3 class="text-center"> <%- date_begin %> / <%- date_end %> </h3>
    <div class="container">
        <hr>
        <br>
        <table class="table table-hover">
            <thead class="table-light">
                <td>ID</td>
                <td>Tên TK</td>
                <td>Nhập</td>
                <td>Xuất</td>
                <td>Lợi nhuận</td>
                <td>Ngày</td>
                <td>Chi Tiết</td>
            </thead>

            <% var im = 0; %>
            <% var ex = 0; %>
            <% var pro = 0; %>
            <% if(test.length > 0){ %>
                <% for(var i = 0; i < test.length; i++){ %>
                    <% im += test[i].s_import %>
                    <% ex += test[i].s_export %>
                    <% pro += test[i].s_profit %>
                    <tr>
                        <td>
                            <%- test[i].s_id %>
                        </td>

                        <td>
                            <%- test[i].s_name %>
                        </td>

                        <td>
                            <%-  Intl.NumberFormat({style: 'currency', currency:'VND'}).format( test[i].s_import ) %> VNĐ
                        </td>

                        <td>
                            <%- Intl.NumberFormat({style: 'currency', currency:'VND'}).format( test[i].s_export ) %> VNĐ
                        </td>

                        <td>
                            <%- Intl.NumberFormat({style: 'currency', currency:'VND'}).format( test[i].s_profit ) %> VNĐ
                        </td>

                        <td>
                            <%-  Intl.DateTimeFormat('vi-VN', {dateStyle: 'short', timeStyle: 'short'}).format( test[i].s_date ) %>
                        </td>

                        <td>
                            <a class="btn btn-primary" href="/chitietthongke?s_id=<%- test[i].s_id %>">Chi Tiết</a>
                        </td>
                    </tr>
                <% } %>
            <% } else { %>
                <p>Không có dữ liệu</p>
            <% } %>
        </table>

        <br>
        <table class="table table-hover">
            <thead class="table-light">
                <td>CHI PHÍ</td>
                <td>DOANH THU</td>
                <td>LỢI NHUẬN</td>
            </thead>
            <tr>
                <td><%= Intl.NumberFormat({style: 'currency', currency:'VND'}).format( im ) %> VNĐ</td>
                <td><%= Intl.NumberFormat({style: 'currency', currency:'VND'}).format( ex ) %> VNĐ</td>
                <td><%= Intl.NumberFormat({style: 'currency', currency:'VND'}).format( pro ) %> VNĐ</td>
               
            </tr>

        </table>

       
        <hr>
        <h3>Lương Nhân Viên</h3>
        <table class="table table-hover">
            <thead class="table-light">
                <td>ID</td>
                <td>Nhân Viên</td>
                <td>Ngày</td>
                <td>Ghi chú</td>
            </thead>
            <% var luongNV = 0; %>
            <% if(cc.length > 0){ %>
                <% for(var i = 0; i < cc.length; i++){ %>
                    <% luongNV += 60000; %> 
                    <tr>
                        <td>
                            <%- cc[i].tk_id %>
                        </td>
                        
                        <td>
                            <%- cc[i].u_name %>
                        </td>

                        <td>
                            <%-  Intl.DateTimeFormat('vi-VN', {dateStyle: 'short', timeStyle: 'short'}).format( cc[i].tk_date ) %>
                        </td>

                        <td>
                            <%- cc[i].tk_note %>
                        </td>                     
                    </tr>
                <% } %>
            <% } else { %>
                <p>Không có dữ liệu</p>
            <% } %>
        </table>
        <label for="">Tổng lương</label>
        <input readonly type="text" value="<%- Intl.NumberFormat({style: 'currency', currency:'VND'}).format( luongNV ) %> VNĐ">

        <hr>
        <h3>Phí Phát Sinh</h3>
        <table class="table table-hover">
            <thead class="table-light">
                <td>ID</td>
                <td>Tên Phí</td>
                <td>Giá</td>
                <td>Nhân viên lập</td>
            </thead>
            <% var phips = 0; %>
            <% if(pps.length > 0){ %>
                <% for(var i = 0; i < pps.length; i++){ %>
                    <% phips += pps[i].ci_cost; %> 
                    <tr>
                        <td><%- i + 1 %></td>
                        <td>
                            <%- pps[i].ci_name %>
                        </td>
                        
                        <td>
                            <%- Intl.NumberFormat({style: 'currency', currency:'VND'}).format( pps[i].ci_cost ) %> VNĐ
                        </td>

                        <td>
                            <%- pps[i].u_name %>
                        </td>                     
                    </tr>
                <% } %>
            <% } else { %>
                <p>Không có dữ liệu</p>
            <% } %>
        </table>
        <label for="">Tổng phí</label>
        <input readonly type="text" value="<%- Intl.NumberFormat({style: 'currency', currency:'VND'}).format( phips ) %> VNĐ">


        <hr>
        <h3>Phí Nhập</h3>
        <table class="table table-hover">
            <thead class="table-light">
                <td>ID</td>
                <td>Đơn Nhập</td>
                <td>Ngày</td>
                <td>Giá</td>
            </thead>
            <% var phiNhap = 0; %>
            <% if(dn.length > 0){ %>
                <% for(var i = 0; i < dn.length; i++){ %>
                    <% phiNhap += dn[i].ib_cost; %> 
                    <tr>
                        <td>
                            <%- dn[i].ib_id %>
                        </td>
                        
                        <td>
                            <%- dn[i].ib_name %>
                        </td>

                        <td>
                            <%-  Intl.DateTimeFormat('vi-VN', {dateStyle: 'short', timeStyle: 'short'}).format( dn[i].ib_date ) %>
                        </td>

                        <td>
                            <%- Intl.NumberFormat({style: 'currency', currency:'VND'}).format( dn[i].ib_cost ) %> VNĐ
                        </td>                     
                    </tr>
                <% } %>
            <% } else { %>
                <p>Không có dữ liệu</p>
            <% } %>
        </table>
        <label for="">Tổng phí</label>
        <input readonly type="text" value="<%-Intl.NumberFormat({style: 'currency', currency:'VND'}).format( phiNhap ) %> VNĐ">

        <hr>
        <h3 for="">Doanh Thu Thức Uống</h3>
        <table class="table table-hover">
            <thead class="table-light">
                <td>ID</td>
                <td>Bàn</td>
                <td>Thành Tiền</td>
                <td>Ngày</td>
            </thead>
            <% var dondat = 0; %>
            <% if(dd.length > 0){ %>
                <% for(var i = 0; i < dd.length; i++){ %>
                    <% dondat += dd[i].o_cost; %>
                    <tr>
                        <td>
                            <%- dd[i].o_id %>
                        </td>

                        <td>
                            <%- dd[i].o_t_id %>
                        </td>

                        <td>
                            <%- Intl.NumberFormat({style: 'currency', currency:'VND'}).format( dd[i].o_cost ) %> VNĐ
                        </td>

                        <td>
                            <%- Intl.DateTimeFormat('vi-VN', {dateStyle: 'short', timeStyle: 'short'}).format( dd[i].o_time ) %>
                        </td>
                    </tr>
                <% } %>
            <% } else { %>
                <p>Không có dữ liệu</p>
            <% } %>
        </table>

        <label for="">Tổng thu</label>
        <input readonly type="text" value="<%- Intl.NumberFormat({style: 'currency', currency:'VND'}).format( dondat ) %> VNĐ">
        

    </div>
</body>
</html>