<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="init_reload">
    <title>Danh sách sản phẩm</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/input_validate.js"></script>

    <%- include ('../z_layout/header.ejs') %>
</head>
<body>
    <% if(session.u_d_id == 1){ %>
        <%- include('../z_layout/navigation') %>
    <% }else if(session.u_d_id == 2 ){ %>
        <%- include('../z_layout/nav_2') %>
    <% }else if(session.u_d_id == 3 ){ %>
        <%- include('../z_layout/nav_3') %>
    <% } %>

    <script type="text/javascript">
        init_reload();

        function init_reloadd(){

            setInterval( function() {
                    window.location.reload();
            },1000);

}
    </script>

    <div class="container" style="padding-top: 10px;">
        <a href="#quanlygia">
            <button type="button" class="btn btn-outline-danger">Quản lý giá</button>
        </a>

        <div class="overplay" id="quanlygia">
            <div class="wrapper"  style="width: 1000px; height: 500px;">
                <h2 name="title" class="text-center">Quản lí giá</h2>
                <a href="#" class="close">&times;</a>
                <div class="content" style="max-height: 90%;">
                    <form action="/themgiasanpham" method="post" class="form-controll" onsubmit="return validate_themgiaSP();" style="margin: 10px 10px;">
                        <div class="row">        
                            <div class="col">
                                <input id="pp_pro_name" name="pp_pro_name" type="text" placeholder="Tên sản phẩm...">
                                <label id="lbl_pp_pro_name" class="lbl_validate" for="">KHÔNG ĐƯỢC ĐỂ TRỐNG !</label>
                            </div>

                            <div class="col">
                                <input id="pp_price" name="pp_price" type="text" placeholder="Giá...">
                                <label id="lbl_pp_price" class="lbl_validate" for="">KHÔNG ĐƯỢC ĐỂ TRỐNG !</label>
                            </div>
                            
                            <!-- <div class="col"> -->
                                <input id="pp_date" name="pp_date" type="date" class="form-control">
                            <!-- </div> -->
                        </div>
                        <br>

                        <input type="submit" value="THÊM" style="width: 100%;">
                    </form>
                    <div class="container">
                        <table class="table table-striped table-hover">
                            <tr>
                                <th>Id</th>
                                <th>Tên sản phẩm</th>
                                <th>Ngày</th>
                                <th>Ngày mới</th>
                                <th>Giá</th>
                                <th>Hành động</th>
                            </tr>
                
                            <% if(pp.length > 0){  %>
                                <% for(var i=0; i < pp.length; i++){  %>
                                    <tr>
                                        <form action="/chinhgiasanpham" method="post" class="form-control" onsubmit="return validate_suagiaSP();">
                                            <td> 
                                                <%- pp[i].pp_id %> 
                                                <input hidden type="text" name="pp_id" value="<%- pp[i].pp_id %>">
                                            </td>
                                            
                                            <td> 
                                                <%- pp[i].pp_pro_name %> 
                                                <input hidden type="text" name="pp_pro_name" value="<%- pp[i].pp_pro_name %>">                                                
                                            </td>
                                            <td> 
                                                <%- Intl.DateTimeFormat("vi-VN", {dateStyle: "short"}).format( pp[i].pp_date ) %> 
                                            </td>
                                            <td>
                                                <input id="db" type="date" name="pp_date">
                                            </td>
                                            <td> 
                                                <input id="ud_pp_price" type="text" class="form-control" name="pp_price" value="<%- pp[i].pp_price %>">
                                                <label id="lbl_ud_pp_price" class="lbl_validate" for="">KHÔNG ĐƯỢC BỎ TRỐNG</label>
                                            </td>
                                            <td>
                                                <input type="submit" value="SỬA" class="btn btn-warning">
                                            </td>
                                        </form>
                                    </tr>
                                <% } %>                
                            <% }else { %>
                                <h1>Data Not Found !</h1>
                            <% } %>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <a href="#quanlyphache">
            <button type="button" class="btn btn-outline-primary">Cách pha chế</button>
        </a>

        <div class="overplay" id="quanlyphache">
            <div class="wrapper"  style="width: 700px; height: 500px;">
                <h2 name="title" class="text-center">Quản lí pha chế</h2>
                <a href="#" class="close">&times;</a>
                <div class="content" style="max-height: 90%;">
                    <form action="/themcachphache" method="post" class="form-controll" onsubmit="return validate_qlphache();" style="margin: 10px 10px;">
                        <div class="row">        
                            <div class="col">
                                <input id="b_name" name="b_name" type="text" placeholder="Tên pha chế...">
                                <label id="lbl_b_name" class="lbl_validate" for="">KHÔNG ĐƯỢC ĐỂ TRỐNG !</label>

                                <textarea id="b_description" name="b_description" style="height: 150px; margin-top: 0px;" class="form-control" placeholder="Cách pha chế..." style="height: 100px"><%= test[0].b_description %></textarea>
                                <label id="lbl_b_description" class="lbl_validate" for="">KHÔNG ĐƯỢC ĐỂ TRỐNG !</label>
                            </div>
                        </div>

                        <input type="submit" value="THÊM" style="width: 100%; margin-top: 0px;">
                    </form>
                    <div class="container">
                        <table class="table table-striped table-hover">
                            <tr>
                                <th>Id</th>
                                <th>Tên pha chế</th>
                                <th>Thao tác</th>
                            </tr>
                
                            <% if(b.length > 0){  %>
                                <% for(var i=0; i < b.length; i++){  %>
                                    <tr>
                                        <form action="/chinhgiasanpham" method="post" class="form-control" onsubmit="return validate_suagiaSP();">
                                            <td> 
                                                <%- b[i].b_id %> 
                                                <input hidden type="text" name="b_id" value="<%- b[i].b_id %>">
                                            </td>
                                            
                                            <td> 
                                                <%- b[i].b_name %> 
                                                <input hidden type="text" name="b_name" value="<%- b[i].b_name %>">
                                            </td>

                                            <td>
                                                <a class="btn btn-primary" href="/cachphache?pro_b_id=<%- b[i].b_id %>" >Chi tiết</a>
                                            </td>
                                        </form>
                                    </tr>
                                <% } %>                
                            <% }else { %>
                                <h1>Data Not Found !</h1>
                            <% } %>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <form action="/themsanpham" method="post" style="padding-top: 10px;" onsubmit="return validate_ds_sanpham();">

            <div class="row g-3">
                <div class="col-sm">
                  <input id="pro_name" name="pro_name" type="text" class="form-control" placeholder="Tên sản phẩm">
                  <label id="lbl_pro_name" class="lbl_validate">KHÔNG ĐƯỢC BỎ TRỐNG !</label>
                </div>
                <div class="col-sm">
                    <select style="margin-top: 6px; height: 50px;" class="form-control" name="pro_pp_id" id="" aria-label="Amount">
                        <option selected class="form-control" value="<%- pp[0].pp_id %>"><%- pp[0].pp_pro_name %></option>
                        <% if(pp.length > 0){ %>
                            <% for( var j = 0; j < pp.length; j++){ %>
                                <option class="form-control" value="<%- pp[j].pp_id %>"><%- pp[j].pp_pro_name %></option>
                            <% } %>
                        <% } else { %>
                            <p>Không có dữ liệu</p>
                        <% } %>
                    </select>
                </div>

                <div class="col-sm">
                    <select style="margin-top: 6px; height: 50px;" class="form-control" name="pro_pt_id" id="" aria-label="Amount">
                        <option selected class="form-control" value="<%- pt[0].pt_id %>"><%- pt[0].pt_name %></option>
                        <% if(pt.length > 0){ %>
                            <% for( var j = 0; j < pt.length; j++){ %>
                                <option class="form-control" value="<%- pt[j].pt_id %>"><%- pt[j].pt_name %></option>
                            <% } %>
                        <% } else { %>
                            <p>Không có dữ liệu</p>
                        <% } %>
                    </select>
                </div>

                <div class="col-sm">
                    <select style="margin-top: 6px; height: 50px;" class="form-control" name="pro_b_id" id="">
                        <option selected class="form-control" value="<%- b[0].b_id %>"><%- b[0].b_name %></option>
                        <% if(b.length > 0){ %>
                            <% for( var j = 0; j < b.length; j++){ %>
                                <option class="form-control" value="<%- b[j].b_id %>"><%- b[j].b_name %></option>
                            <% } %>
                        <% } else { %>
                            <p>Không có dữ liệu</p>
                        <% } %>
                    </select>
                </div>

                <div class="col-sm">
                  <input id="pro_description" name="pro_description" type="text" class="form-control" placeholder="Mô tả" aria-label="Zip">
                  <label id="lbl_pro_description" class="lbl_validate">KHÔNG ĐƯỢC BỎ TRỐNG !</label>
                </div>
            </div>
            
            <br>

            <div class="d-grid gap-2">
            <button class="btn btn btn-outline-danger" type="submit">Submit</button>
            </div>
        </form>
        
        <br>
        <h3 class="text-center">Danh Sách Sản Phẩm</h3>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                     <th data-priority="2">ID</th>
                     <th>Tên sản phẩm</th>
                     <th>Giá</th>
                     <th colspan="2">Thao tác</th>
                </tr>
            </thead>

            <% if(test.length > 0){  %>
                <% for(var i=0; i <test.length; i++){  %>
                    <tr>
                        <td> <%- test[i].pro_id  %></td>
                        <td> <%- test[i].pro_name %></td>
                        <td> <%- Intl.NumberFormat({style:"currency", currency:"VND"}).format( test[i].pro_price ) %> VNĐ </td>
                        <!-- <td> <%- test[i].sp_mota %> </td> -->
                       
                        <td>                        
                            <a href="#divUD<%- test[i].pro_id %>">SỬA</a>
                            <div class="UD_overplay" id="divUD<%- test[i].pro_id %>">
                                <!-- <input name="pro_name" type="text" placeholder="" value="<%- test[i].pro_name %>"> -->

                                <div class="UD_wrapper">
                                    <h2>Chỉnh sửa thông tin sản phẩm</h2>
                                    <a href="#" class="close">&times;</a>
                                    <div class="content">
                                        <div class="container">
                                            <form action="/suasanpham" method="POST">
                                                <input name="pro_id" type="text" hidden placeholder="" value="<%- test[i].pro_id %>">

                                                <label for="">Tên sản phẩm</label>
                                                <input name="pro_name" type="text" placeholder="" value="<%- test[i].pro_name %>">
                                                
                                                <label for="">Giá sản phẩm</label>
                                                <input name="pro_price" type="text" placeholder="" value="<%- test[i].pro_price %>">
                        
                                                <label for="">Mô tả</label>
                                                <textarea name="pro_description" id="" cols="30" rows="5" value=""><%- test[i].pro_description %></textarea>
                        
                                                <input type="submit" value="XÁC NHẬN" style="width:100%">
                                                <hr>
                                                <% if(test[i].pro_b_id != 0){ %>
                                                    <a class="btn btn-primary" style="width: 100%; border-radius: 15px;" href="/cachphache?pro_b_id=<%- test[i].pro_b_id %>">Cách Pha Chế</a> 
                                                <% } else { %>
                                                    <a class="btn btn-danger" style="width: 100%; border-radius: 15px;" href="/themcachphache?pro_b_id=<%- test[i].pro_b_id %>">Thêm Cách Pha Chế</a> 
                                                <% } %>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                        </td>
                        
                        <td>
                            <!-- <a href="/xoasanpham?pro_id=<%- test[i].pro_id %>">DELETE</a> -->
                        
                            <a href="#divDel<%- test[i].pro_id %>">XÓA</a>
                            <div class="overplay" id="divDel<%- test[i].pro_id %>">
                                <!-- <input name="pro_name" type="text" placeholder="" value="<%- test[i].pro_name %>"> -->

                                <div class="wrapper">
                                    <h2 class="text-center">Xác Nhận Xóa</h2>
                                    <a href="#" class="close">&times;</a>
                                    <div class="content">
                                        <div class="container">
                                            <form action="/xoasanpham" method="POST">
                                                <input name="pro_id" type="text" hidden placeholder="" value="<%- test[i].pro_id %>">

                                                <label name="title">Tên Sản Phẩm</label>
                                                <input name="pro_name" type="text" placeholder="" value="<%- test[i].pro_name %>">
                                                
                                                <button class="btn btn btn-outline-danger" style="width: 100%;" type="submit">Xóa</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                <% } %>

            <% }else { %>
                <h1>Data Not Found !</h1>
            <% } %>
        </table>
    </div>

   
    <%- include ('../z_layout/footer.ejs') %>
</body>
</html> 