<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách bàn</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/style.css">


    <!-- Jquery Mobile -->
    <!-- <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script> -->


    
    <style>
        a {
            text-decoration: none;
        }

        .image {
            position: relative;
            height: 150px;
            width: 150px;
            left: 20px;
            margin-top:  20px;
            transition: 1s;
            background-color: white;
            border-radius: 20px;
            border-width: 4px;
            border-color: black;
            z-index: 1;
        }

        .image:hover {
            transform: scale(1.05);
            z-index: 2;
        }     
        
        .soban{
            z-index: 5;
            font-size: 50px;
            color: #FFFF;
            word-wrap: normal;
        }

        body{
            font-family: montserrat;
            background: #e7e7e7e7;
            height: 100vh;
        }

        .box{
            text-align: center;
        }

        .buttonn{
            font-size: 1em;
            padding: 15px 35px;
            color: #fff;
            text-decoration: none;
            cursor: pointer;
            transition: all 0.3s ease-out;
            background: #403e3d;
            border-radius: 50px;
        }

        .overplay{
            position:fixed;
            top: 0;
            bottom: 0; 
            left: 0;
            right: 0;
            background:  rgba(0, 0, 0, 0.8);
            transition: opacity 500ms;
            visibility: hidden;
            opacity: 0;
            z-index: 5000;
        }

        .overplay:target{
            visibility: visible;
            opacity: 1;
        }

        .UD_overplay{
            position:fixed;
            top: 0;
            bottom: 0; 
            left: 0;
            right: 0;
            background:  rgba(0, 0, 0, 0.8);
            transition: opacity 500ms;
            visibility: hidden;
            opacity: 0;
        }

        .UD_overplay:target{
            visibility: visible;
            opacity: 1;
        }

        .wrapper{
            margin: 70px auto;
            padding: 20px;
            background: #e7e7e7e7;
            border-radius: 5px;
            width: 30%;
            position: relative;
            transition: all 5s ease-in-out;
        }

        .wrapper h2{
            margin-top: 0;
            color: #333;
        }

        .wrapper .close{
            position: absolute;
            top: 20px;
            right: 30px;
            transition: all 200ms;
            font-weight: bold;
            text-decoration: none;
            color: #333;
        }

        .wrapper .content{
            max-height: 30%;
            overflow: auto;
        }

        .UD_wrapper{
            margin: 70px auto;
            padding: 20px;
            background: #e7e7e7e7;
            border-radius: 5px;
            width: 50%;
            position: relative;
            transition: all 5s ease-in-out;
        }

        .UD_wrapper h2{
            margin-top: 0;
            color: #333;
        }

        .UD_wrapper .close{
            position: absolute;
            top: 20px;
            right: 30px;
            transition: all 200ms;
            font-weight: bold;
            text-decoration: none;
            color: #333;
        }

        .UD_wrapper .content{
            max-height: 30%;
            overflow: auto;
        }

        .container{
            border-radius: 5px;
            background-color: #e7e7e7e7;
            padding: 20px 0;
        }

        form label{
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 3px;
        }

        input[type=text], textarea{
            width: 100%;
            padding: 12px;
            border:  1px solid #ccc;
            border-radius:  5px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
        }

        input[type="submit"]{
            background-color: #413b3b;
            color: #fff;
            padding: 15px 50px;
            border: none;
            border-radius: 50px;
            cursor: pointer;
            font-size: 15px;
            text-transform: uppercase;
            letter-spacing: 3px;
        }

        .containerr{
            width: 95%;
            overflow: hidden;
            background: skyblue;
            margin: 20px auto;
            padding: 20px 0px;
        }

        .containerr ul{
            padding: 0px;
            margin: 0px;
        }

        .containerr ul li{
            list-style: none;
            float: left;
            width: 20%;
            height: 300px;
            background: red;
            margin: 40px 30px 0px 20px;
            box-sizing: border-box;
            border: 2px solid white;
        }

        .containerr ul li:hover{
            opacity: 0.9;
        }

        .containerr ul li .title:hover{
            background: blue;
            color: white;
        }

        .containerr ul li .title{
            width: 100%;
            height: 50px;
            line-height: 50px;
            background: white;
            text-align: center;
        }

        @media screen and (max-width: 1250px){
            .containerr ul li{
                width: 40%;
                margin-left: 50px;
            }
        }

        @media screen and (max-width: 800px){
            .containerr{
                width: 100%;
                padding: 0px;
            }
            
            .containerr ul li{
                float: none;
                width: 90%;
                margin: 40px auto;
            }
        }

        @media screen and (max-width: 900px){
            .containerr{
                width: 100%;
                padding: 0px;
            }
            
            .containerr ul li{
                float: none;
                width: 90%;
                margin: 40px auto;
            }
        }
    </style>

</head>
<body>
    <% if(session.u_d_id == 1){ %>
        <%- include('../z_layout/navigation') %>
    <% }else if(session.u_d_id == 2 ){ %>
        <%- include('../z_layout/nav_2') %>
    <% }else if(session.u_d_id == 3 ){ %>
        <%- include('../z_layout/nav_3') %>
    <% } %>
    
    <br>
    <h1 class="text-center"> Danh sách bàn</h1>
    <!-- <div class="containerr">
        <ul>
            <li> <div class="title">Header</div> </li>
            <li> <div class="title">Header</div> </li>
            <li> <div class="title">Header</div> </li>
            <li> <div class="title">Header</div> </li>
            <li> <div class="title">Header</div> </li>
            <li> <div class="title">Header</div> </li>
            <li> <div class="title">Header</div> </li>
            <li> <div class="title">Header</div> </li>
        </ul>
    </div> -->

    <script>
        function validate(){
            var num = document.getElementById("num");
            var lblnum = document.getElementById("lblnum");

            if(num.value.trim() == "")
            {
                num.style.border = "solid 3px red";
                lblnum.style.visibility = "visible";
                return false;
            }
            else
            {
                return true;
            }
        }
    </script>

    <div class="container">
        <div class="row">      
                <% if(test.length > 0){  %>
                    <% for(var i=0; i <test.length; i++){  %>
                        <%  if(test[i].t_empty == 1){ %>
                            <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12"> <!-- col-xl-3 col-lg-4 col-md-12 col-sm-12 -->
                                <!-- <a href="/songuoi?t_id=<%- test[i].t_id %>"> -->
                                    <a href="#divOne<%- test[i].t_id %>">
                                    <div class="image card">                                      
                                        <div style="background-color: blue; height: 100%; width: 100%; border-radius: 15px 15px 15px 15px;">
                                            <p class="soban">
                                                <%= test[i].t_id %>
                                            </p>
                                        </div>
                                    </div>
                                </a>

                                <div class="overplay" id="divOne<%- test[i].t_id %>">
                                    <div class="wrapper">
                                        <h2 class="text-center">Nhập số người</h2>
                                        <a href="#" class="close">&times;</a>
                                        <div class="content">
                                            <div class="container">
                                                <form action="/songuoi" method="POST" onsubmit="return validate();">
                                                    <label for="">Bàn</label>
                                                    <input type="text" value="<%- test[i].t_id %>" name="t_id">
                                                    
                                                    <label for="">Số Người</label>
                                                    <input type="text" placeholder="Nhập số người" name="num" id="num">
                                                    <label id="lblnum" style="color: red; visibility: hidden;">Invalid</label>

                                                    <br>
                                                    <label for="">Chi Nhánh</label>
                                                    <select class="form-control" name="br_id" id="">
                                                        <% for(var t = 0; t < br.length; t++){ %> 
                                                            <option value="<%- br[t].br_id %>"><%- br[t].br_name %></option>
                                                        <% } %>
                                                    </select>
                            
                                                    <% var currentdate = new Date(); %>
                                                    <% var datetime = currentdate.getFullYear() + "-" + (currentdate.getMonth()+1) + "-" + currentdate.getDate()  + "  "  + currentdate.getHours() + ":"   + currentdate.getMinutes() + ":"  + currentdate.getSeconds(); %>
                                    
                                                    <input hidden name="o_time" type="text" value="<%- datetime %>">

                                                    <br>
                                                    <label for="">Thống Kế</label>
                                                    <select class="form-control" name="s_id" id="">
                                                        <% for(var t = 0; t < stt.length; t++){ %> 
                                                            <option value="<%- stt[t].s_id %>"><%- stt[t].s_name %></option>
                                                        <% } %>
                                                    </select>

                                                    <br>
                                                    <input type="submit" class="btn btn-outline-danger" value="Tạo" style="width: 100%;">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% }else { %>
                            <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12">
                                <a href="/chitietban?t_id=<%- test[i].t_id %>">
                                    <div class="image card">                                       
                                            <div style="background-color: red; height: 80%; width: 100%; border-radius: 15px 15px 0 0;">
                                                <p class="soban">
                                                    <%= test[i].t_id %>
                                                </p>
                                            </div>

                                            <% if(test[i].t_pay == 1) { %>
                                                <div style="background-color: green; height: 20%; width: 100%; border-radius: 0px 0px 15px 15px;">
                                                    <i class="fa-solid fa-check" style="margin:10px 45%;"></i>
                                                </div>
                                            <% }else { %>
                                                <div style="background-color: gray; height: 20%; width: 100%; border-radius: 0px 0px 15px 15px;">
                                                    <i class="fa-solid fa-x" style="margin:10px 45%;"></i>
                                                </div>
                                            <% } %>
                                    </div>
                                </a>
                            </div>
                        <% } %>
                        
                    <% } %>
        
                <% }else { %>
                    <h1>Data Not Found !</h1>
                <% } %>
        </div>
    </div>


    
</body>
</html>