<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiết đơn đặt</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="/js/input_validate.js"></script>
</head>
<body>
    <% if(session.u_d_id == 1){ %>
        <%- include('../z_layout/navigation') %>
    <% }else if(session.u_d_id == 2 ){ %>
        <%- include('../z_layout/nav_2') %>
    <% }else if(session.u_d_id == 3 ){ %>
        <%- include('../z_layout/nav_3') %>
    <% } %>
    
    <div class="container">
        <h2 class="text-center">Danh sách đồ uống <%- %></h2>
        <a class="btn btn-outline-danger" href="/ban">Trở về</a>
        <% if(test.length > 0){ %>
        <h3 class="text-center"></h3>
        <br>

        <form class="form-control bg-light" action="/xachnhannhanhang" method="post">
            <br>
            <% for(var i=0; i < test.length; i++){  %>
                <div class="row g-2">
                    <div class="col-md">
                        <div class="form-floating">
                            <input hidden name="num" type="text" value="">
                            <input hidden name="od_pro_id" type="text" value="<%- test[i].od_pro_id %>">
                            <input readonly type="text" name="pro_name" class="form-control" id="floatingInputGrid" placeholder="" value="<%- test[i].pro_name %>">
                            <label for="floatingInputGrid">Nguyên Liệu</label>
                        </div>
                    </div>

                    <div class="col-md">
                        <div class="form-floating">
                            <input readonly type="text" name="od_quantity" class="form-control" id="floatingInputGrid" value="<%- test[i].od_quantity %>">
                            <input type="text" name="ing_amount" hidden value="">
                            <label for="floatingInputGrid">Số lượng ()</label>
                        </div>
                    </div>

                    <div class="col-md">
                        <div class="form-floating">
                            <input readonly type="text" name="od_price" class="form-control" id="floatingInputGrid" placeholder="1" value="<%- test[i].od_price %>">
                            <label for="floatingInputGrid">Giá tiền ( VNĐ )</label>
                        </div>
                    </div>
                </div>
            <% } %>
            
            <label for="">Tổng giá</label>
            <input readonly name="o_cost" type="text" value="<%- test[0].o_cost %>">
                
            <br>
            <input hidden type="submit" value="XÁC NHẬN ĐƠN" class="btn btn-outline-danger" style="width: 100%;">
        
        </form>
        <a class="btn btn-danger" style="width: 100%" href="/xacnhandon?o_id=<%- test[0].od_o_id %>&o_cost=<%- test[0].o_cost %>">XÁC NHẬN ĐƠN</a>
        <%  } else { %>
            <p>Không có nguyên liệu</p>
        <% } %>
        <hr>
        <a class="btn btn-outline-primary" style="width:100%" href="#divUD">THÊM ĐỒ UỐNG</a>

        <!-- POPUP THÊM ĐỒ UỐNG -->
        
        <div class="UD_overplay" id="divUD">

            <div class="UD_wrapper" style="width: 1000px; height: 500px;">
                <h2 class="text-center">Chọn thức uống</h2>
                <a href="#" class="close">&times;</a>
                <div class="content" style="max-height: 90%;">
                    <div class="container">
                        <!-- <form action="/themchitietdondat" method="POST" onsubmit="return validate_cchitietdondat();">
                            <input name="o_id" hidden type="text" value="<%- dd_id %>">
                            <label for="">Tên thức uống</label>
                            <select name="od_pro_id" id="" class="form-select">
                                <% if(pro.length > 0){ %>
                                    <% for( var j = 0; j < pro.length; j++){ %>
                                        <option name="od_pro_id" value="<%- pro[j].pro_id %>"> <%- pro[j].pro_name %> | <%- pro[j].pro_price %> VNĐ </option>
                                    <% } %>
                                <% } else { %>
                                    <p>Data Not Found</p>
                                <% } %>
                            </select>

                            <br>
                            <div class="row lg">
                                <div class="col sm">                            
                                    <label for="">Giá</label>
                                    <input id="od_price" type="text" name="od_price">
                                    <label id="lblod_price" style="color: red; visibility: hidden; font-style: italic;">Không được để trống !</label>
                                </div>
                                
                                <div class="col sm">
                                    <label for="">Số lượng</label>
                                    <input id="od_quantity" name="od_quantity" type="text" placeholder="" value="">
                                    <label id="lblod_quantity" style="color: red; visibility: hidden; font-style: italic;">Không được để trống !</label>

                                    <input hidden name="o_cost" type="text" value="<%- gia[0].o_cost %>">
                                </div>
                            </div>
                            
                            <input type="submit" value="Thêm" style="width: 100%;">
                        </form> -->
                        <table class="table table-striped table-hover">
                            <tr>
                                <th>Id</th>
                                <th>Tên sản phẩm</th>
                                <th>Giá</th>
                                <th>Số lượng</th>
                                <th>*</th>
                            </tr>
                
                            <% if(pro.length > 0){  %>
                                <% for(var i=0; i < pro.length; i++){  %>
                                    <tr>
                                        <form action="/themchitietdondat" method="post" class="form-control" onsubmit="return validate_cchitietdondat();">
                                                <input name="o_id" hidden type="text" value="<%- dd_id %>">
                                                <input hidden name="o_cost" type="text" value="<%- gia[0].o_cost %>">
                                            <td>
                                                <input type="text" hidden name="od_pro_id" value="<%- pro[i].pro_id %>">
                                                <%- pro[i].pro_id %>
                                            </td>
                                            
                                            <td> 
                                                <input type="text" hidden name="od_pro_name" value="<%- pro[i].pro_name %>">
                                                <%- pro[i].pro_name %>
                                            </td>
                                            
                                            <td> 
                                                <input type="text" hidden name="od_price" value="<%- pro[i].pp_price %>">
                                                <%- Intl.NumberFormat({style:"currency", currency:"VND"}).format( pro[i].pp_price ) %> VNĐ 
                                            </td>
                                            <td> 
                                                <input type="number" name="od_quantity" value="1">                                                
                                            </td>
                                            <td>
                                                <input type="submit" value="THÊM" class="btn btn-warning">
                                            </td>
                                        </form>
                                    </tr>
                                <% } %>                
                            <% }else { %>
                                <h1>Data Not Found !</h1>
                            <% } %>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% include('../z_layout/footer.ejs') %>
</body>
</html>