<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đơn đăt</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


    <!-- Jquery Mobile -->
    <!-- <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
 -->

</head>
<body>

    <style>
        body{
    font-family: montserrat;
    background: #e7e7e7e7;
    height: 100vh;
}

.box{
    text-align: center;
}

.buttonn{
    font-size: 1em;
    padding: 15px 35px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    background: #403e3d;
    border-radius: 50px;
}

.overplay{
    position:fixed;
    top: 0;
    bottom: 0; 
    left: 0;
    right: 0;
    background:  rgba(0, 0, 0, 0.8);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 5000;
}

.overplayVCB{
    position:fixed;
    top: 0;
    bottom: 0; 
    left: 0;
    right: 0;
    background:  rgba(0, 0, 0, 0.8);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 6000;
}

.overplay:target{
    visibility: visible;
    opacity: 1;
}

.overplayVCB:target{
    visibility: visible;
    opacity: 1;
}

.UD_overplay{
    position:fixed;
    top: 0;
    bottom: 0; 
    left: 0;
    right: 0;
    background:  rgba(0, 0, 0, 0.8);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.UD_overplay:target{
    visibility: visible;
    opacity: 1;
}


.wrapperrr{
    margin: 10px auto;
    padding: 20px;
    background: #e7e7e7e7;
    border-radius: 5px;
    width: 28%;
    position: relative;
    transition: all 5s ease-in-out;
}


.wrapperVCB{
    margin: 10px auto;
    padding: 20px;
    background: #3CD371;
    border-radius: 5px;
    width: 28%;
    position: relative;
    transition: all 5s ease-in-out;
}

.wrapperrr h2{
    margin-top: 0;
    color: #333;
}

.wrapperrr .close{
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.wrapperVCB .close{
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.wrapperrr .content{
    max-height: 30%;
    overflow: auto;
}

.UD_wrapper{
    margin: 70px auto;
    padding: 20px;
    background: #e7e7e7e7;
    border-radius: 5px;
    width: 50%;
    position: relative;
    transition: all 5s ease-in-out;
}

.UD_wrapper h2{
    margin-top: 0;
    color: #333;
}

.UD_wrapper .close{
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.UD_wrapper .content{
    max-height: 30%;
    overflow: auto;
}




.containerr{
    border-radius: 5px;
    background-color: #e7e7e7e7;
    padding: 20px 0;
}

form label{
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
}

input[type=text], textarea{
    width: 100%;
    padding: 12px;
    border:  1px solid #ccc;
    border-radius:  5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type="submit"]{
    background-color: #413b3b;
    color: #fff;
    padding: 15px 50px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
    </style>

    <% if(session.u_d_id == 1){ %>
        <%- include('../z_layout/navigation') %>
    <% }else if(session.u_d_id == 2 ){ %>
        <%- include('../z_layout/nav_2') %>
    <% }else if(session.u_d_id == 3 ){ %>
        <%- include('../z_layout/nav_3') %>
    <% } %>

    <div class="container">

        <div class="main">
            <a href="/bantrong?t_id=<%= o_t_id %>" class="btn btn-outline-primary">Bàn Trống</a>
            <a href="/ban" class="btn btn-outline-danger">Trở về</a>
        </div>
        <br>
        <h2 class="text-center">List of Orders</h2>
        <table class="table">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Thanh toán</th>
                <th scope="col">Xác nhận</th>
                <td>Pha chế</td>
                <th scope="col">Tổng tiền</th>
                <th> Thống Kê</th>
                <th colspan="2">Thao tác</th>
                </tr>
            </thead>
            <% if(test.length > 0){  %>
                <% for(var i=0; i <test.length; i++){  %>
                    <tbody>
                        <tr>
                            <th scope="row">
                                <%- test[i].o_id %>
                            </th>
                            
                            <td>
                                <!-- <%- test[i].o_status %> -->

                                <% if(test[i].o_status == 1){ %>
                                    <p style="color: green;">Đã thanh toán</p>
                                <% } else { %>
                                    <p style="color:red;">Chưa</p>
                                <% } %>
                            </td>    
                            
                            <td>
                                <!-- <%- test[i].o_status %> -->

                                <% if(test[i].o_post == 1){ %>
                                    <p style="color: green;">Đã xác nhận</p>
                                <% } else { %>
                                    <p style="color:red;">Chưa xác nhận</p>
                                <% } %>
                            </td> 
                            
                            <td>
                                <% if(test[i].o_tick == 1){ %>
                                    <p style="color: green;">Xong</p>
                                <% } else { %>
                                    <p style="color:red;">Chưa</p>
                                <% } %>
                            </td>
                            
                            <td>
                                <%- test[i].o_cost %>
                            </td>

                            <td>
                                <%- test[i].s_name %>
                            </td>
                            <td>
                                <a href="/chitietdondat?o_id=<%= test[i].o_id %>" class="btn btn-primary">Chi tiết</a>
                            </td>
                            <td>
                                <a href="#divDel<%- test[i].o_id %>" class="btn btn-success">PAY</a>
                                
                                <div class="overplay" id="divDel<%- test[i].o_id %>">
                                    <!-- <input name="pro_name" type="text" placeholder="" value="<%- test[i].pro_name %>"> -->

                                    <div class="wrapperrr">
                                        <h2 class="text-center">Payment Confirmation</h2>
                                        <a href="#" class="close">&times;</a>
                                        <div class="content">
                                            <div class="containerr">
                                                <form action="/thanhtoan" method="POST">
                                                    <input name="o_id" hidden type="text"  placeholder="" value="<%- test[i].o_id %>">
                                                    <input name="o_t_id" hidden type="text"  placeholder="" value="<%- o_t_id %>">

                                                    <label for="">Statistics</label>
                                                    <select class="form-select" name="s_id" id="">
                                                            <option name="s_id" value="<%- test[i].s_id %>"><%- test[i].s_name %></option>
                                                    </select>

                                                    <label for="">Total money</label>
                                                    <input name="o_cost" type="text" placeholder="" value="<%- test[i].o_cost %>">
                                                    
                                                    <button class="btn btn btn-outline-danger" style="width: 100%;" type="submit">Confirm</button>
                                                </form>

                                                
                                                <a href="#divVCB"><h6 class="text-center" style="margin-top: 5px;">Chuyển Khoản</h6></a>
                                                <img src="/assets/images/momo-qr-code.jpg" style="height: 70%; width: 100%;">
                        
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="overplayVCB" id="divVCB">
                                    <div class="wrapperVCB">
                                        <h2 class="text-center">Thông Tin Người Nhận</h2>
                                        <a href="#" class="close">&times;</a>
                                        <div class="content">
                                            <div class="container">
                                                <form action="/thanhtoan" method="POST">
                                                    <div class="row g-3">
                                                        <div class="col-sm">
                                                            <label for=""> Số tài khoản</label>
                                                            <input class="form-control" name="o_cost" type="text" placeholder="" value="1018610555" readonly>
                                                        </div>

                                                        <div class="col-sm">
                                                            <label for=""> Người nhận</label>
                                                            <input class="form-control" name="o_cost" type="text" placeholder="" value="NGUYEN HUU TAN" readonly>
                                                        </div>
                                                    </div>
                                                    
                                                    <label for=""> Thông tin chuyển khoản</label>
                                                    <input name="o_cost" type="text" placeholder="" value="05" readonly>
                                                    <img src="/assets/images/vcb-qr-code.jpg" style="height: 20%; width: 100%;">
                                                    
                                                    <!-- <button class="btn btn btn-outline-danger" style="width: 100%;" type="submit">Confirm</button> -->
                                                </form>                        
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                <% } %>

            <% }else { %>
                <h1>Data Not Found !</h1>
            <% } %>
        </table>
    </div>


    

    

</body>
</html>