<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đơn đăt</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <% if(session.u_d_id == 1){ %>
        <%- include('../z_layout/navigation') %>
    <% }else if(session.u_d_id == 2 ){ %>
        <%- include('../z_layout/nav_2') %>
    <% }else if(session.u_d_id == 3 ){ %>
        <%- include('../z_layout/nav_3') %>
    <% } %>

    <div class="container">

        <div class="main">
            <a href="/bantrong?t_id=<%= o_t_id %>" class="btn btn-outline-primary">Bàn Trống</a>
            <a href="/ban" class="btn btn-outline-danger">Trở về</a>
        </div>
        <br>
        <h2 class="text-center">List of Orders</h2>
        <table class="table">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th colspan="2">Pha chế</th>
                <th scope="col">Tổng tiền</th>
                <th> Thống Kê</th>
                <th colspan="2">Thao tác</th>
                </tr>
            </thead>
            <% if(test.length > 0){  %>
                <% for(var i=0; i <test.length; i++){  %>
                    <tbody>
                        <tr>
                            <th scope="row">
                                <%- test[i].o_id %>
                            </th>  
                            
                            <td>
                                <!-- <%- test[i].o_status %> -->

                                <% if(test[i].o_post == 1){ %>
                                    <p style="color: green;"><i style="font-size: 30px;" class="fa fa-check-circle" aria-hidden="true"></i>
                                    </p>
                                <% } else { %>
                                    <p style="color:red;"><i style="font-size: 30px;" class="fa fa-times-circle" aria-hidden="true"></i>
                                    </p>
                                <% } %>
                            </td> 
                            
                            <td>
                                <% if(test[i].o_tick == 1){ %>
                                    <p style="color: green;"><i style="font-size: 30px;" class="fa fa-check" aria-hidden="true"></i>
                                    </p>
                                <% } else { %>
                                    <p style="color:red;"><i style="font-size: 30px;" class="fa fa-times" aria-hidden="true"></i>
                                    </p>
                                <% } %>
                            </td>
                            
                            <td>
                                <%- Intl.NumberFormat({style: 'currency', currency: 'VND'}).format( test[i].o_cost ) %> VNĐ
                            </td>

                            <td>
                                <%- test[i].s_name %>
                            </td>
                            <td>
                                <a href="/chitietdondat?o_id=<%= test[i].o_id %>" class="btn btn-primary"><i class="fa fa-info-circle" aria-hidden="true"></i>
                                </a>
                            </td>
                            <td>
                                <% if(test[i].o_status == 1){ %>
                                    <a href="#divDel<%- test[i].o_id %>" class="btn btn-success"><i class="fa fa-credit-card-alt" aria-hidden="true"></i>
                                    </a>
                                <% } else { %>
                                    <a href="#divDel<%- test[i].o_id %>" class="btn btn-danger"><i class="fa fa-credit-card-alt" aria-hidden="true"></i>
                                    </a>
                                <% } %>
                                
                                <div class="overplay" id="divDel<%- test[i].o_id %>">
                                    <!-- <input name="pro_name" type="text" placeholder="" value="<%- test[i].pro_name %>"> -->

                                    <div class="wrapperrr">
                                        <h2 class="text-center">Xác Nhận Thanh Toán</h2>
                                        <a href="#" class="close">&times;</a>
                                        <div class="content">
                                            <div class="containerr">
                                                <form action="/thanhtoan" method="POST">
                                                    <input name="o_id" hidden type="text"  placeholder="" value="<%- test[i].o_id %>">
                                                    <input name="o_t_id" hidden type="text"  placeholder="" value="<%- o_t_id %>">

                                                    <label for="">Thống kê</label>
                                                    <select class="form-select" name="s_id" id="">
                                                            <option name="s_id" value="<%- test[i].s_id %>"><%- test[i].s_name %></option>
                                                    </select>

                                                    <label for="">Tổng tiền</label>
                                                    <input name="o_cost" type="text" placeholder="" value="<%- test[i].o_cost %>">
                                                    
                                                    <button class="btn btn btn-outline-danger" style="width: 100%;" type="submit">Xác nhận</button>
                                                </form>

                                                
                                                <a href="#divVCB"><h6 class="text-center" style="margin-top: 5px;">Chuyển Khoản</h6></a>
                                                <img src="/assets/images/momo-qr-code.jpg" style="height: 70%; width: 100%;">
                        
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="overplayVCB" id="divVCB">
                                    <div class="wrapperVCB">
                                        <h2 class="text-center">Thông Tin Người Nhận</h2>
                                        <a href="#divDel<%- test[i].o_id %>" class="close">&times;</a>
                                        <div class="content">
                                            <div class="container">
                                                <form action="/thanhtoan" method="POST">
                                                    <div class="row g-3">
                                                        <div class="col-sm">
                                                            <label for=""> Số tài khoản</label>
                                                            <input class="form-control" name="o_cost" type="text" placeholder="" value="1018610555" readonly>
                                                        </div>

                                                        <div class="col-sm">
                                                            <label for=""> Người nhận</label>
                                                            <input class="form-control" name="o_cost" type="text" placeholder="" value="NGUYEN HUU TAN" readonly>
                                                        </div>
                                                    </div>
                                                    
                                                    <label for=""> Thông tin chuyển khoản</label>
                                                    <input name="o_cost" type="text" placeholder="" value="05" readonly>
                                                    <img src="/assets/images/vcb-qr-code.jpg" style="height: 20%; width: 100%;">
                                                    
                                                    <!-- <button class="btn btn btn-outline-danger" style="width: 100%;" type="submit">Confirm</button> -->
                                                </form>                        
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                <% } %>

            <% }else { %>
                <h1>Data Not Found !</h1>
            <% } %>
        </table>
    </div>


    

    

</body>
</html>